<div id="error_explanation">
  <% if errors.errors.any? %>
    <h3><%= pluralize(errors.errors.count, "error") %> prohibited this obj from being saved:</h3>
    <ul>
      <% errors.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

